body {
    background-color: rgb(0, 0, 0);
}

.basicclass1 {
    background-color: rgb(20, 10, 25);
    color: rgb(180, 200, 255);
    border-width: 0.5vw;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 0.8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    outline-width: 0.3vw;
    outline-style: solid;
    outline-color: rgb(200, 100, 255);
    padding-bottom: 0vw;
}

.titleclass1 {
    letter-spacing: 0.3vw;
    font-family: roboto;
    font-size: 1.5vw;
}

.titleclass2 {
    text-align: center;
    margin-right: 20vw;
    margin-left: 20vw;
    font-weight: 700;
    font-size: 1.5vw;
    font-family: roboto;
}

.headingclass1 {
    max-width: 20vw;
    padding-right: 0.5vw;
    margin-left: 2vw;
    font-size: 2vw;
    font-family: roboto;
}

.basicclass2 {
    padding-right: 1vw;
    padding-left: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: Arial;
    font-weight: 600;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.listclass1 {
    padding-right: 2vw;
    padding-left: 2vw;
}

.linkclass1 {
    padding-top: 1vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

a:link {
    color: rgb(180, 200, 255);
}

a:visited {
    color: rgb(200, 100, 255);
}
