body {
    background-color: rgb(0, 8, 32);
}

.basicclass1 {
    background-color:rgb(72, 61, 226);
    color:rgb(0, 8, 32);
    border: 1vw;
    border-style:solid;
    border-color: rgb(0, 8, 32);
    border-radius:3vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    outline-width: 1vw;
    outline-style:solid;
    outline-color: rgb(23, 32, 161);
    padding-bottom: 0.2vw;
    font-size: 2vw;
}
.titleclass1 {
    letter-spacing: 0.8vw;
    font-family: roboto;
}

.titleclass2 {
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    max-width: 20vw;
    font-family: roboto;
}

.headingclass1 {
    max-width: fit-content;
    padding-right: 1vw;
    margin-left: 4vw;
    font-family: roboto;
}

.basicclass2 {
    padding-right: 2vw;
    padding-left: 2vw;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 4vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    font-family:Arial;
    font-weight: 600;
    margin-bottom: 24vw;
}

.listclass1 {
    padding-right: 30px;
    padding-left: 30px;
}

.linkclass1 {
    padding-top: 8px;
}

a:link {
    color:rgb(0,200, 255)
}

a:visited {
    color: rgb(0,200,255)
}
